.chat_window {
	height: 500px;
	box-shadow: 2px 2px 2px #888888 inset !important;
	margin-bottom: 15px;
	margin-top: 20px;
	padding-right: 0px !important;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow-y: auto; 
}

.single_message.row {
	box-shadow: 1px 1px 1px #888888 inset;
	width: 100%;
	font-size: 15px;
	color: #D7F7D8;

}

.alert {
	padding: 0px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.message_time {
	background-color: #623860;
	margin-top: 3px;
	margin-bottom: 3px;
}

.user_name {
	background-color: #623860;
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: bold;
}

.message {
	color: #000000;
}