body {
    min-height: 100%;
    padding-top: 70px;
}

.navbar-fixed-top {
	box-shadow: 1px 1px 1px #888888;
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #76E1A1 100%);
	background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #76E1A1 100%);
	background-image: -o-linear-gradient(top left, #FFFFFF 0%, #76E1A1 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #76E1A1));
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #76E1A1 100%);
	background-image: linear-gradient(to bottom right, #FFFFFF 0%, #76E1A1 100%);
}

.navbar-right {
	padding-top: 15px;
}

.navbar-right a {
   color: #53A875;	
}